@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*-----------------------------------------------------------*/


/*=========================
Icons
================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
ul.social-network li {
    display: inline;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a {
    background-color: rgba(56, 64, 129, 0.46);
    border: 1px solid white;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
/*
    border: 12px;
    border-color: white;
*/
    text-align:center;
    width: 60px;
    height: 60px;
    font-size:25px;
}
.social-circle li i {
    margin:0;
    line-height:60px;
    text-align: center;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/*-----------------------------------------------------------*/


/*-----------------------------------------------------------*/
.navbar-inverse{
    position:absolute;
    top:35px;
    z-index: 1000;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/*
.navbar-xs { min-height:22px; border-radius:0} 
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; } 
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }*/

.navbar-xs { 
    height:30px; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: solid;
    position: relative;
    top: 25px;
    left: 14px;
    opacity: 0.9;
    width: 99%;
} 
.navbar-xs .navbar-brand
{ 
    padding: 8px 8px;
    font-size: 15px;
    line-height: 10px;
} 
.navbar-xs .navbar-nav > li > a {
    border-right:1px solid #ddd;
    padding-top: 7px;
    padding-bottom: 2px;
    line-height: 18px
}
